#header {
    height: auto;
    top: 0px;
    background: #ffff90;
    position: fixed;
    width: 100%;

}

#content {
    position: absolute;
    margin-top: 10%;
}

#footer {
    height: 5%;
    position: fixed;
    background: transparent;
    bottom: 0px;
}

.app {
    text-align: center;
    margin: auto;
}

.customButton {
    padding: 0.5%;
    margin-right: 1%;
    width: auto;
    border: solid;
    border-width: 1px;
    border-color: blue;
    background-color: aliceblue;
    margin-left:0.5%;
}

.customButton:hover{
    background-color: aqua;
}

.content {
    margin-top: 2%;
}

#submit {
    margin-left:2%;
    
}

.titles {
    color: brown;
}

table {
    border-collapse: collapse;
    border-spacing: 2%;
    margin: 0 auto;
    margin-top: 3%;
    width: 100%;
    padding: 2%;
}

tr td, tr th {
    padding: 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

tr td {
    font-weight: normal;
}

#basetable, .content {
    width: 60%;
    margin: 0 auto;
}

#navmenu {
    text-align: center;
    margin: auto;
    margin-top: 5%;
    width: 100%;
}

.navbuttons {
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;

}

.loading {
    width: 10%;
    padding-top: 10%;
}

#not_found {
    padding-top: 5%;
}